<!DOCTYPE html>
<html>

<body>
<div id="root"></div>
</body>
<script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

<script type="text/babel">
    import React from "react";
    const Main = () => {
        const [ count, setCount ] = React.useState(0);
        const updateCnt = () => setCount(count + 1);
        React.useEffect(()=> {
            console.log("HI");
            const eventSource = new EventSource("http://localhost:8080/subscribe/1")

            eventSource.onopen = async () => {
                await console.log("sse opened!")
            }

            eventSource.addEventListener('like', (event) => {
                console.log("like")
                const data = JSON.parse(event.data);
                console.log(data)
            });

            eventSource.onerror = async (e) => {
                await console.log(e)
            }

            return () => {
                eventSource.close()
            }
        },[]);
        return (
            <div>
                <p>좋아요 클릭 수 : {count} </p>
                <div>
                    <button onClick={updateCnt}> 좋아요 </button>
                </div>
            </div>
        );
    };
    ReactDOM.render(<Main />, document.getElementById('root'));
</script>

</html>